* {

    scroll-behavior: smooth;
    margin: 0;
    border: 0;
    padding: 0;

}

.topheader {
    background-color: #1E2022;
    width: 100%;
    height: 30px;
}

.tophead {
    background-color: #3F51B5;
    width: 20%;
    height: 3px;
    border-radius: 20px;

}
header {
    height: 60px;
    margin-top: 30px;
}

.logo {
    display: inline-block;
    margin-left: 70px;
    margin-top: -14px; /* Corrected the value */
}

.yazii {
    font-family: "Permanent Marker", cursive;
    font-weight: 500;
    font-size: 50px;
    font-style: normal;
}

nav {
    margin-top: 23px;
    float: right;
    width: auto;
    margin-right: 30px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    height: 40px;
    width: 120px;
    text-align: center;
    display: inline-block;
    transition: 0.4s;
    border-radius: 5px;
}

header nav ul li a {
    font-family: "Libre Baskerville", serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    line-height: 40px;
    color: black;
    font-weight: bold;
}

header nav ul li:hover {
    background-color: #788189;
    border-radius: 20px;
}.girisyazisi {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin-top: 100px;
    margin-left: 50px;
}

.paragraf {
    margin-top: 30px;
    width: 600px;
    margin-left: 50px;
    line-height: 27px;
    font-size: 20px;
}

.paragraf-alti {
    margin-top: 30px;
    width: 600px;
    margin-left: 50px;
    line-height: 27px;
    font-size: 21px;
    color: #52616B;
}

.sayfa1 {
    float: right;
    position: relative;
    top: 350px;
    left: 540px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.iconss {
    position: absolute;
    left: 50%;
    top: 730px;
    font-size: 20px;
}

.ben {
    
    border-radius: 20px;
    width: 25%;
    margin-left: 50px;
    margin-top: 10px;

}

.sosyalbutonlar {
    margin-top: 30px;
    display: inline-block;

    left: 200px;

    margin-left: 50px;

}

.sosyalbutonlar a {
    background: #52616B;
    text-decoration: none;
    color: #C9D6DF;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 25px;

    transition: 1s;
    line-height: 50px;
    text-align: center;
}

.youtube:hover {
    background-color: #FF0000;
    color: white;
    border-radius: 50%;
}

.github:hover {
    background-color: #2c2c2c;
    color: white;
    border-radius: 50%;
}

.instagram:hover {
    background-color: #E1306C;
    color: white;
    border-radius: 50%;
}

.linkedin:hover {
    background-color: #1666C5;
    color: white;
    border-radius: 50%;
}

.discord:hover {
    background-color: rgb(85, 116, 201);
    color: white;
    border-radius: 50%;
}





.icon {
    margin-left: 100px;
    margin-top: 50px;
}

.sutun2 {
    margin-top: 100px;
    height: 980px;
    background-image: linear-gradient(white, #e1e4e6);
}

a.button {
    background: #ECECEC;
    border-radius: 15px;
    padding: 10px 20px;
    display: block;
    font-family: arial;
    font-weight: bold;
    color: #7f7f7f;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
    border: 1px solid #a7a7a7;
    width: 145px;

    box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);

}

a.button i {
    float: right;
    margin-top: 2px;
}

a.button:hover {
    box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);

}

.sutun3 {
    height: 600px;

}

.toplama {
    margin-top: 150px;
    margin-left: 75px;
    display: inline-block;
    width: 15%;
}



.deneyimler-resim {
    width: 150px;
    border-radius: 50%;
    position: relative;
    left: 50px;
}

.deneyimler-baslik {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    font-style: normal;
    text-align: center;
    width: 250px;

}

.deneyimler-paragraf {
    line-height: 20px;
    margin-top: 20px;
    width: 250px;
    text-align: center;
}

.deneyimler-button {
    margin-left: 30px;
    margin-top: 30px;
}

#yaa {
    margin-left: 50px;
    margin-top: 70px;
}

.sutun3yazi {
    text-align: center;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: 30px;
    font-size: 40px;
}

.iletişim {
    margin-top: 709px;
    width: 100px;
}

.baslik {
    margin-top: 270px;
    margin-left: 120px;
}



.dısbar {
    background-color: gray;
    width: 300px;
    height: 7px;
    border-radius: 20px;

}

.icbar {

    background-color: dodgerblue;
    height: 7px;
    border-radius: 20px;
    margin-top: 2px;

}

section {
    margin-bottom: 300px;
    max-width: 1920px;
    margin: auto;
}

.bildiklerim-kapsayici {
    margin-left: 60px;
    margin-top: 50px;

}

.bar-yazi {
    margin-bottom: 0;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-size: 17px;
    font-style: normal;
    margin-top: 30px;
}

.bar-span {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-style: normal;
    position: relative;
    left: 277px;
    top: -23px;
}

.bildiklerim-alt-kapsayici {
    display: inline-block;
}

.bildiklerim-yazi {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.iletisim-baslik {
    line-height: 160px;
    text-align: center;

}

.iletisim-paragraf {


    margin: 0 auto;
    width: 600px;
    text-align: center;
    border-bottom: 2px solid#34373b;

}

.İletisim {
    height: 800px;
    background-color: #e5e8ea;

}

.isim {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #788189;
    background-color: #C9D6DF;
    position: relative;
    left: 500px;

}

.mail-font {
    text-align: center;
}

.mail-kutusu {
    text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


form {
    max-width: 420px;
    margin: 50px auto;
}

.feedback-input {
    color: rgb(68, 59, 59);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #34373b;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #34373b;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #34373b;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #646464;
}

footer {
    background-color: #1E2022;
    height: 200px;
}

.footer-yazi {
    color: #788189;
    text-align: center;
    line-height: 200px;
}
@media screen and (max-width: 768px) {
    header {
        text-align: center;z-index: 100;
    }

    .logo {
        margin: 10px 0;
    }

    nav {
        float: none;
        margin: 10px 0;
    }

    header nav ul li {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
}